<%# Página de boas vindas %>

<h1>Bem-vindo a <%= application_name %>!  </h1>
<% user = 'Everson' << ' Silva' %>
<p>Usuário: <%= user %></p>

<ul>
    <li><%= link_to "Cadastro de moedas", coins_path %></li>
</ul>

<footer>São Paulo, SP - <%= date_to_br Date.today %></footer>
<p>Você está no ambiente de <strong><%= application_environment %></strong></p>