
<h1><%= t('welcome') %> <%= application_name %>!  </h1>
<p>Linguagens</p>
<ul>
  <li>
    <%= link_to 'Português - Brasil', '/?locale=pt-BR' %>
  </li>
  <li>
    <%= link_to 'English', '/?locale=en' %>
  </li>
</ul>

<%= render "menu" %>

<!-- <p>Você está no ambiente de <strong><%= application_environment %></strong></p> -->

