
<div class="py-5 bg-light bg-gradient">

  <div class="container-lg">
    <h1 class="display-3"><%= t('welcome') %> <%= application_name %>!  </h1>
    <p class="lead">
      <%= t('greetings') %>
    </p>

  </div>

</div>

<!-- <%= render "menu" %> -->

<!-- <p>Você está no ambiente de <strong><%= application_environment %></strong></p> -->

