<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @mining_type.name %>
</p>

<p>
  <strong>Acrônimo:</strong>
  <%= @mining_type.acronym %>
</p>

<%= link_to 'Edit', edit_mining_type_path(@mining_type) %> |
<%= link_to 'Back', mining_types_path %>
