<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-lg">
          <%= link_to "Crypto Wallet", welcome_index_path, class: 'navbar-brand' %>          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              
              <li class="nav-item position-relative mx-4">
                <%= link_to "Moedas", coins_path, class: [*('active' if params[:controller] == 'coins'),'nav-link'] %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary mt-2">
                  <%= Coin.count > 9 ? '9+' : Coin.count %>
                </span>
              </li>
              
              <li class="nav-item position-relative">
                <%= link_to "Tipos de Mineiração", mining_types_path, class: [*('active' if params[:controller] == 'mining_types'),'nav-link'] %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary mt-2">
                  <%= MiningType.count > 9 ? '9+' : MiningType.count %>
                </span>
              </li>
            </ul>
            
          </div>
          <div class="d-flex">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li>
                      <%= link_to 'Português - Brasil', '/?locale=pt-BR', class: [*('disabled' if params[:locale] === 'pt-BR'), 'dropdown-item'] %>
                    </li>
                    <li>
                      <%= link_to 'English', '/?locale=en', class: [*('disabled' if params[:locale] === 'en'), 'dropdown-item'] %>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>     

      <%= yield %>
    </div>
  </body>
</html>
