<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="field col-lg-4  col-md-6 mt-3">
      <%= form.label :description, class: 'form-label' %>
      <%= form.text_field :description, class: 'form-control', placeholder: 'Bitcoin' %>
    </div>

    <div class="field col-lg-4  col-md-6 mt-3">
      <%= form.label :acronym, class: 'form-label' %>
      <%= form.text_field :acronym, class: 'form-control', placeholder: 'BTC'  %>
    </div>

    <div class="field col-lg-4  col-md-6 mt-3">
      <%= form.label :url_image, class: 'form-label' %>
      <%= form.text_field :url_image, class: 'form-control', placeholder: 'https://example.png'  %>
    </div>

    <div class="field col-lg-4 col-md-6 mt-3">
      <%= form.label :mining_type_id, class: 'form-label' %>
      <%= form.select('mining_type_id', @mining_type_options, { include_blank: 'Select' }, class: 'form-select' ) %>
    </div>

    <div class="actions mt-3 d-flex col-12">
      <%= form.submit "#{t("links.#{action_name}")} #{Coin.model_name.human}", class: 'btn btn-primary' %>
      <%= link_to t('links.back'), coins_path, class: 'btn btn-neutral mx-3' %>
    </div>
  </div>

<% end %>
