<p id="notice"><%= notice %></p>

<h1><%= Coin.model_name.human(count: Coin.count) %></h1>

<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th><%= @coins.human_attribute_name(:description) %></th>
        <th><%= @coins.human_attribute_name(:acronym) %></th>
        <th><%= @coins.human_attribute_name(:url_image) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @coins.each do |coin| %>
        <tr>
          <td><%= coin.description %></td>
          <td><%= coin.acronym %></td>
          <td><%= image_tag coin.url_image, size: 25, alt: coin.description %></td>
          <td width="40px"><%= link_to t('links.show'), coin, class: "btn btn-primary btn-sm" %></td>
          <td width="40px"><%= link_to t('links.edit'), coin_path(coin), class: "btn btn-primary btn-sm" %></td>
          <td width="40px"><%= link_to t('links.delete'), coin, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: t('links.confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="d-flex mt-2">
  <%= link_to "#{t('links.add')} #{Coin.model_name.human}", new_coin_path, class: 'btn btn-primary' %><br/>
  <%= link_to t('links.back'), '/', class: 'btn btn-neutral mx-3' %>
</div>