<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('coin.fields.description') %>:</strong>
  <%= @coin.description %>
</p>

<p>
  <strong><%= t('coin.fields.acronym') %>:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong><%= t('coin.fields.url_image') %>:</strong>
  <%= image_tag @coin.url_image, size: 25, alt: @coin.description %>
  <!-- <%= @coin.url_image %> -->
</p>

<%= link_to t('edit'), edit_coin_path(@coin) %> |
<%= link_to t('back'), coins_path %>

