<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-lg-4 col-md-6 mt-3">
    <label class="form-label"><%= Coin.human_attribute_name(:description) %></label>
    <input class="form-control" type="text" value="<%= @coin.description %>" disabled readonly>
  </div>  

  <div class="col-lg-4 col-md-6 mt-3">
    <label class="form-label"><%= Coin.human_attribute_name(:acronym) %></label>
    <input class="form-control" type="text" value="<%= @coin.acronym %>" disabled readonly>
  </div> 

  <div class="col-lg-4 col-md-6 mt-3">
    <label class="form-label"><%= Coin.human_attribute_name(:mining_type) %></label>
    <input class="form-control" type="text" value="<%= @coin.mining_type.description %>" disabled readonly>
  </div> 

  <div class="col-12 col-lg-4 col-md-6 mt-3">
    <label class="form-label"><%= Coin.human_attribute_name(:url_image) %>:</label>
    <input class="form-control mb-2" type="text" value="<%= @coin.url_image %>" disabled readonly>
    <%= image_tag @coin.url_image, size: 25, alt: @coin.description %>
  </div> 

  <div class="col-12">
    <div class="d-flex mt-3">
      <%= link_to "#{t("links.edit")} #{Coin.model_name.human}", edit_coin_path(@coin), class: 'btn btn-primary' %>
      <%= link_to t('links.back'), coins_path, class: 'btn btn-neutral mx-3' %>
    </div>
  </div>
</div>


